/*
 * M4DCss-Flat
 * ===========
 *
 * Libreria base
 *
 * Framework Flat opensource
 * By J4ReK - M4DSource Group
 * 
 */
 
/* [ELEMENTOS BASE] */
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size:14px;
	font-family: sans-serif,helvetica,Arial;
}
figure{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li{
	margin:2px 0px;
}

input[type="text"], textarea{
	border-width: 1px;
	border-style: solid;
	border-top-color: #ededed;
	border-left-color: #ededed;
	border-right-color:#cecece;
	border-bottom-color: #cecece;
	background:#ffffff;
	font-size:0.9em;
	font-family: Arial;
	text-align:justify;
	margin:2px;
	padding:2px;
	width:200px;
	outline: none;
	resize:none;
}

input[type="checkbox"], input[type="radio"]{
	height:15px;
	width:15px;
	background: #ffffff;
}

input[type="checkbox"] ~ span{
	text-transform: capitalize;
}

input[type="button"]:hover, button:hover{
	color:#dcdcdc !important;
}
input[type="button"], button{
	text-transform: capitalize;
	border-width: 0px;
	border-style: solid;
	border-color: #ededed;
	background:#ffffff;
	padding:5px 10px;
	margin:5px;
	min-width: 50px;
	min-height: 20px;
	outline: none;
	cursor:pointer;
}

select{
	border-width: 1px;
	border-style: solid;
	border-color: #ededed;
	background:#ffffff;
	outline: none;
	padding:2px;
	min-width: 100px;
}

h1{ font-weight: normal;font-size: 3.5em !important; }
h2{ font-weight: normal;font-size: 3em !important; }
h3{ font-weight: normal;font-size: 2.5em !important; }
h4{ font-weight: normal;font-size: 2em !important; }
h5{ font-weight: normal;font-size: 1.5em !important; }
h6{ font-weight: normal;font-size: 1em !important; }

fieldset{
	margin:10px 0px;
	background:#fff;
	border-width: 0px;
	border-style: solid;
	border-color: #999;
}
fieldset legend{
	background: #fff;
	border-width:0px;
	border-style: solid;
	border-color: #999;
	margin:0px 5px;
	padding:5px 10px;
	font-weight: 600;
	text-transform: capitalize;
}