/*
 * M4DCss-Flat
 * ===========
 *
 * Libreria de grids
 *
 * Framework Flat opensource
 * By J4ReK - M4DSource Group
 * 
 */
 /** Cajas horizontales **/
.grid{
	display: flex;
}
.grid.grid-center{
	justify-content: center;
}
.grid > div:last-child{
	clear:both;
	content: " ";
}
.grid > .box{
}