/*
 * M4DCss-Flat
 * ===========
 *
 * Libreria completa
 *
 * Framework Flat opensource
 * By J4ReK - M4DSource Group
 * 
 */

/* [ELEMENTOS BASE] */
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size:14px;
	font-family: sans-serif,helvetica,Arial;
}
figure{
	margin: 0;
}
a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li{
	margin:2px 0px;
}

input[type="text"], textarea{
	border-width: 1px;
	border-style: solid;
	border-top-color: #ededed;
	border-left-color: #ededed;
	border-right-color:#cecece;
	border-bottom-color: #cecece;
	background:#ffffff;
	font-size:0.9em;
	font-family: Arial;
	text-align:justify;
	margin:2px;
	padding:2px;
	width:200px;
	outline: none;
	resize:none;
}

input[type="checkbox"], input[type="radio"]{
	height:15px;
	width:15px;
	background: #ffffff;
}

input[type="checkbox"] ~ span{
	text-transform: capitalize;
}

input[type="button"]:hover, button:hover{
	color:#dcdcdc !important;
}
input[type="button"], button{
	text-transform: capitalize;
	border-width: 0px;
	border-style: solid;
	border-color: #ededed;
	background:#ffffff;
	padding:5px 10px;
	margin:5px;
	min-width: 50px;
	min-height: 20px;
	outline: none;
	cursor:pointer;
}

select{
	border-width: 1px;
	border-style: solid;
	border-color: #ededed;
	background:#ffffff;
	outline: none;
	padding:2px;
	min-width: 100px;
}

h1{ font-weight: normal;font-size: 3.5em !important; }
h2{ font-weight: normal;font-size: 3em !important; }
h3{ font-weight: normal;font-size: 2.5em !important; }
h4{ font-weight: normal;font-size: 2em !important; }
h5{ font-weight: normal;font-size: 1.5em !important; }
h6{ font-weight: normal;font-size: 1em !important; }

fieldset{
	margin:10px 0px;
	background:#fff;
	border-width: 0px;
	border-style: solid;
	border-color: #999;
}
fieldset legend{
	background: #fff;
	border-width:0px;
	border-style: solid;
	border-color: #999;
	margin:0px 5px;
	padding:5px 10px;
	font-weight: 600;
	text-transform: capitalize;
}

/* [CLASES MOD] */
/** debug **/
body.dev{
	background:#4DAF7C !important;
}

/** esquemas **/
.marco{
	width:1000px;
	margin:0px auto;
}
.contenedor{
	margin:0px 1%;
}
.clb{ clear:both; }
.clr{ clear: right;}
.cll{ clear:left; }

/** adorno **/
.bolded{
	font-weight: bold;
}
.noBold{
	font-weight: normal;
}

/** Estilos cabecera **/ 
.h1{  font-size: 3.5em !important;	font-weight: normal;	} 
.h2{	font-size: 3em !important;		font-weight: normal;	} 
.h3{  font-size: 2.5em !important;	font-weight: normal;	} 
.h4{	font-size: 2em !important;		font-weight: normal;	} 
.h5{  font-size: 1.5em !important;	font-weight: normal;	} 
.h6{	font-size: 1em !important;		font-weight: normal;	}

.underline{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #777;
}

/** Estilos tamaños def. **/ 
.w100p{		width: 100%; }
.w95p {		width: 95%; }
.w90p {		width: 90%; }
.w80p {		width: 80%; }
.w70p {		width: 70%; }
.w60p {		width: 60%; }
.w50p {		width: 50%; }
.h100p{		height:100%; }

.w100{		width: 100px; } 
.w150{		width: 150px; } 
.w200{		width: 200px; } 
.w250{    width: 250px; } 
.w300{    width: 300px; } 
.w350{		width: 350px; } 
.w400{    width: 400px; } 
.w450{    width: 450px; } 
.w500{		width: 500px; } 
.w550{    width: 550px; } 
.w600{    width: 600px; } 
.w650{		width: 650px; } 
.w700{    width: 700px; } 
.w750{    width: 750px; } 
.w800{		width: 800px; } 
.w850{    width: 850px; } 
.w900{    width: 900px; } 
.w950{		width: 950px; } 
.w1000{   width: 1000px; }

/** Estilos agregar margenes 
 * mv : Superior e inferior
 * mh : Lateral derecho e izquierdo
 * mt : Superior
 * mr : Lateral derecho
 * ml : Lateral izquierdo
 * mb : Inferior
 */
.mv10{margin-top: 10px;margin-bottom:10px;}
.mh10{margin-left:10px;margin-right:10px;}
.mv20{margin-top: 20px;margin-bottom:20px;}
.mh20{margin-left:20px;margin-right:20px;}
.mv30{margin-top: 30px;margin-bottom:30px;}
.mh30{margin-left:30px;margin-right:30px;}
.mv40{margin-top: 40px;margin-bottom:40px;}
.mh40{margin-left:40px;margin-right:40px;}
.mv50{margin-top: 50px;margin-bottom:50px;}
.mh50{margin-left:50px;margin-right:50px;}

.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}

.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mr40{margin-right: 40px;}
.mr50{margin-right: 50px;}

.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}

.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}

/** Estilos agregar padding 
 * pdv : Superior e inferior
 * pdh : Lateral derecho e izquierdo
 * pdt : Superior
 * pdr : Lateral derecho
 * pdl : Lateral izquierdo
 * pdb : Inferior
 */
.pdv5{padding-top	:5px;padding-bottom: 5px;}
.pdh5{padding-left  :5px;padding-right: 5px;}
.pdv10{padding-top	:10px;padding-bottom: 10px;}
.pdh10{padding-left	:10px;padding-right: 10px;}
.pdv20{padding-top	:20px;padding-bottom: 20px;}
.pdh20{padding-left	:20px;padding-right: 20px;}
.pdv30{padding-top	:30px;padding-bottom: 30px;}
.pdh30{padding-left	:30px;padding-right: 30px;}
.pdv40{padding-top	:40px;padding-bottom: 40px;}
.pdh40{padding-left	:40px;padding-right: 40px;}
.pdv50{padding-top	:50px;padding-bottom: 50px;}
.pdh50{padding-left	:50px;padding-right: 50px;}

.pdt10{padding-top: 10px;}
.pdt20{padding-top: 20px;}
.pdt30{padding-top: 30px;}
.pdt40{padding-top: 40px;}
.pdt50{padding-top: 50px;}

.pdr10{padding-right: 10px;}
.pdr20{padding-right: 20px;}
.pdr30{padding-right: 30px;}
.pdr40{padding-right: 40px;}
.pdr50{padding-right: 50px;}

.pdl10{padding-left: 10px;}
.pdl20{padding-left: 20px;}
.pdl30{padding-left: 30px;}
.pdl40{padding-left: 40px;}
.pdl50{padding-left: 50px;}

.pdb10{padding-bottom: 10px;}
.pdb20{padding-bottom: 20px;}
.pdb30{padding-bottom: 30px;}
.pdb40{padding-bottom: 40px;}
.pdb50{padding-bottom: 50px;}

/** Estilos para listas **/
ul.styled-disc{
	list-style:disc;
	padding:0px 0px 0px 30px;
	margin:10px 0px;
}
ul.styled-circle{
	list-style: circle;
	padding:0px 0px 0px 30px;
	margin:10px 0px;
}
ul.styled-num{
	list-style: decimal;
	padding:0px 0px 0px 30px;
	margin:10px 0px;
}
ul.horizontal li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/** Alinear textos **/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}

/** posicionar elementos absolutos **/
.contentPos{	position: relative;	}
.posAbs{
	position: absolute;
	margin: 0;
}
.posAbs.Left 	{	left: 0;	}
.posAbs.Right 	{	right: 0;	}
.posAbs.Top 	{	top: 0;		}
.posAbs.Bottom 	{	bottom: 0;	}

/** separador personalizado **/
.sep{
	content: " ";
	height: 2px;
	width:100%;
	margin:5px 0px;
}

/** Estilos para inputs **/
input[type="button"].shadow, button.shadow{
	-webkit-box-shadow: 1px 1px 4px #666;
	-moz-box-shadow: 1px 1px 4px #666;
	-ms-box-shadow: 1px 1px 4px #666;
	-o-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
}

/** TABS **/
.tabs{
	width:auto;
	border-bottom-style:solid;
	border-bottom-color:inherit;
	border-bottom-width: 1px;
	padding:0px 0px;
	vertical-align: baseline;
}
.tabs .tab{
	margin:5px 0px;
	text-align: center;
	border-radius: 4px;
}
/** TABS HORIZONTAL **/
.tabs-hz{
	width:100%;
}
.tabs-hz .tab{
	margin:0px 5px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/** GRID **/
ul.grid {
	margin: 0;
	padding: 0;
}
ul.grid > li{
	margin:0;
	padding:2px 4px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/** MENU **/
.mnu{
	font-size:12px;
}
/** MENU HORIZONTAL **/
.mnu-hz{
	width:100%;
}
.mnu-hz.equals ul{
}
.mnu-hz.equals ul li{
	width:120px;
}
.mnu-hz.mnu-nobg ul li{
	background: none;
}
.mnu-hz ul li{
	text-transform: uppercase;
	text-align: center;
	border-width: 0px;
	border-style: solid;
	border-color: #aaa;
	background-color: #fff;
	display: inline-block;
	*display:inline;
	*zoom:1;
}
.mnu-hz ul li a{
	display: block;
	font-size:10px;
	padding: 10px 5px;
	color:inherit;
}
.mnu-hz ul li a:hover{
	font-weight: bold;
}
/** MENU LATERAL **/
.mnu-lt{
	margin: 0;
}


/* [COLORES] */
/** NO-background-color **/
.bg-none{
	background:none !important;
}
/** BLANCOS **/
.bg-white{ background-color: #fff !important;}
.cl-white{ color: #fff !important;}
.bg-whitesmoke{ background-color: #ececec !important;}
.cl-whitesmoke{ color: #ececec !important;}

/** AZUL **/
.bg-azul-1{	background-color: #2C3E50 !important; }
.cl-azul-1{	color: #2C3E50 !important; }
.bg-azul-2{	background-color: #2574A9 !important; }
.cl-azul-2{	color: #2574A9 !important; }
.bg-azul-3{	background-color: #4B77BE !important; }
.cl-azul-3{	color: #4B77BE !important; }
.bg-azul-4{	background-color: #4183D7 !important; }
.cl-azul-4{	color: #4183D7 !important; }
.bg-azul-5{	background-color: #3498DB !important; }
.cl-azul-5{	color: #3498DB !important; }
.bg-azul-6{	background-color: #22A7F0 !important; }
.cl-azul-6{	color: #22A7F0 !important; }
.bg-azul-7{	background-color: #19B5FE !important; }
.cl-azul-7{	color: #19B5FE !important; }
.bg-azul-8{	background-color: #59ABE3 !important; }
.cl-azul-8{	color: #59ABE3 !important; }
.bg-azul-9{	background-color: #6BB9F0 !important; }
.cl-azul-9{	color: #6BB9F0 !important; }

/** VERDE **/
.bg-verde-1{ background-color: #1E824C !important}
.cl-verde-1{ color: #1E824C !important}
.bg-verde-2{ background-color: #26A65B !important}
.cl-verde-2{ color: #26A65B !important}
.bg-verde-3{ background-color: #049372 !important}
.cl-verde-3{ color: #049372 !important}
.bg-verde-4{ background-color: #1BA39C !important}
.cl-verde-4{ color: #1BA39C !important}
.bg-verde-5{ background-color: #87D37C !important}
.cl-verde-5{ color: #87D37C !important}
.bg-verde-6{ background-color: #3FC380 !important}
.cl-verde-6{ color: #3FC380 !important}
.bg-verde-7{ background-color: #26C281 !important}
.cl-verde-7{ color: #26C281 !important}
.bg-verde-8{ background-color: #03C9A9 !important}
.cl-verde-8{ color: #03C9A9 !important}
.bg-verde-9{ background-color: #36D7B7 !important}
.cl-verde-9{ color: #36D7B7 !important}

/** GRAY **/
.bg-gris-1{ background-color: #6C7A89 !important }
.cl-gris-1{ color: #6C7A89 !important }
.bg-gris-2{ background-color: #95A5A6 !important }
.cl-gris-2{ color: #95A5A6 !important }
.bg-gris-3{ background-color: #ABB7B7 !important }
.cl-gris-3{ color: #ABB7B7 !important }
.bg-gris-4{ background-color: #BDC3C7 !important }
.cl-gris-4{ color: #BDC3C7 !important }
.bg-gris-5{ background-color: #D2D7D3 !important }
.cl-gris-5{ color: #D2D7D3 !important }
.bg-gris-6{ background-color: #DADFE1 !important }
.cl-gris-6{ color: #DADFE1 !important }
.bg-gris-7{ background-color: #EEEEEE !important }
.cl-gris-7{ color: #EEEEEE !important }
.bg-gris-8{ background-color: #ECECEC !important }
.cl-gris-8{ color: #ECECEC !important }
.bg-gris-9{ background-color: #ECF0F1 !important }
.cl-gris-9{ color: #ECF0F1 !important }

/** NARANJO **/
.bg-naranjo-1{ background-color: #D35400 !important; }
.cl-naranjo-1{ color: #D35400 !important; }
.bg-naranjo-2{ background-color: #F9690E !important; }
.cl-naranjo-2{ color: #F9690E !important; }
.bg-naranjo-3{ background-color: #E87E04 !important; }
.cl-naranjo-3{ color: #E87E04 !important; }
.bg-naranjo-4{ background-color: #E67E22 !important; }
.cl-naranjo-4{ color: #E67E22 !important; }
.bg-naranjo-5{ background-color: #F89406 !important; }
.cl-naranjo-5{ color: #F89406 !important; }
.bg-naranjo-6{ background-color: #F39C12 !important; }
.cl-naranjo-6{ color: #F39C12 !important; }
.bg-naranjo-7{ background-color: #F4B350 !important; }
.cl-naranjo-7{ color: #F4B350 !important; }
.bg-naranjo-8{ background-color: #F5AB35 !important; }
.cl-naranjo-8{ color: #F5AB35 !important; }
.bg-naranjo-9{ background-color: #FDE3A7 !important; }
.cl-naranjo-9{ color: #FDE3A7 !important; }

/** ROJO **/
.bg-rojo-1{ background-color: #96281B !important; }
.cl-rojo-1{ color: #96281B !important; }
.bg-rojo-2{ background-color: #CF000F !important; }
.cl-rojo-2{ color: #CF000F !important; }
.bg-rojo-3{ background-color: #D91E18 !important; }
.cl-rojo-3{ color: #D91E18 !important; }
.bg-rojo-4{ background-color: #F22613 !important; }
.cl-rojo-4{ color: #F22613 !important; }
.bg-rojo-5{ background-color: #FF0000 !important; }
.cl-rojo-5{ color: #FF0000 !important; }
.bg-rojo-6{ background-color: #D64541 !important; }
.cl-rojo-6{ color: #D64541 !important; }
.bg-rojo-7{ background-color: #D24D57 !important; }
.cl-rojo-7{ color: #D24D57 !important; }
.bg-rojo-8{ background-color: #EF4836 !important; }
.cl-rojo-8{ color: #EF4836 !important; }
.bg-rojo-9{ background-color: #E74C3C !important; }
.cl-rojo-9{ color: #E74C3C !important; }

/** MORADOS **/
.bg-morado-1{ background-color: #663399 !important; }
.cl-morado-1{ color: #663399 !important; }
.bg-morado-2{ background-color: #8E44AD !important; }
.cl-morado-2{ color: #8E44AD !important; }
.bg-morado-3{ background-color: #9B59B6 !important; }
.cl-morado-3{ color: #9B59B6 !important; }
.bg-morado-4{ background-color: #BF55EC !important; }
.cl-morado-4{ color: #BF55EC !important; }
.bg-morado-5{ background-color: #913D88 !important; }
.cl-morado-5{ color: #913D88 !important; }
.bg-morado-6{ background-color: #674172 !important; }
.cl-morado-6{ color: #674172 !important; }
.bg-morado-7{ background-color: #9A12B3 !important; }
.cl-morado-7{ color: #9A12B3 !important; }
.bg-morado-8{ background-color: #BE90D4 !important; }
.cl-morado-8{ color: #BE90D4 !important; }
.bg-morado-9{ background-color: #DCC6E0 !important; }
.cl-morado-9{ color: #DCC6E0 !important; }

/* [PLUGINS] */
/** bloques horizontales **/
.side-blocks{
	width: 100%;
	float: left;
	clear: right;
	padding-bottom: 10px;
}
.side-blocks > .title{
	margin: 10px 10px;
	font-size:16px;
}
.side-blocks ul{
	width:100%;
}
.side-blocks > ul > li{
	margin: 0 10px 10px 10px;
	min-height:120px;
	float: left;
	max-width: 170px;
	padding: 5px;
}
.side-blocks > ul > li:last-child{
	clear: right;
}
.side-blocks > ul > li > .box{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	margin-top: 5px;
}
.side-blocks.no-width li{
	max-width: none !important;
}

/** Cajas horizontales **/
.side-boxs{
	width: 100%;
	float: left;
	clear: right;
	padding-bottom: 10px;
}
.side-boxs > .box{
	float: left;
}
.side-boxs > .box > .box-info{
	visibility: hidden;
	text-overflow: ellipsis;
}
.side-boxs > .box:hover > .box-info{
	visibility: visible;
}

/** Marcos para imagenes y otros elementos **/
.redondeado{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.redondo{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.gota, gota-ur{
	-webkit-border-radius: 50% 0% 50% 50%;
	-moz-border-radius: 50% 0% 50% 50%;
	-ms-border-radius: 50% 0% 50% 50%;
	-o-border-radius: 50% 0% 50% 50%;
	border-radius: 50% 0% 50% 50%;
}
.gota-ul{
	-webkit-border-radius: 0% 50% 50% 50%;
	-moz-border-radius: 0% 50% 50% 50%;
	-ms-border-radius: 0% 50% 50% 50%;
	-o-border-radius: 0% 50% 50% 50%;
	border-radius: 0% 50% 50% 50%;
}
.gota-br{
	-webkit-border-radius: 50% 50% 0% 50%;
	-moz-border-radius: 50% 50% 0% 50%;
	-ms-border-radius: 50% 50% 0% 50%;
	-o-border-radius: 50% 50% 0% 50%;
	border-radius: 50% 50% 0% 50%;
}
.gota-bl{
	-webkit-border-radius: 50% 50% 50% 0%;
	-moz-border-radius: 50% 50% 50% 0%;
	-ms-border-radius: 50% 50% 50% 0%;
	-o-border-radius: 50% 50% 50% 0%;
	border-radius: 50% 50% 50% 0%;
}
.limon{
	-webkit-border-radius: 0% 50% 0% 50%;
	-moz-border-radius: 0% 50% 0% 50%;
	-ms-border-radius: 0% 50% 0% 50%;
	-o-border-radius: 0% 50% 0% 50%;
	border-radius: 0% 50% 0% 50%;
}
.frameclasico{
	border:2px solid #666;
	padding: 10px;
	background: #FFF;
	display: inline-block;
}
.frameclasico > img{
	border-style: solid;
	border-width: 2px;
	border-color: #bbb;
	border-bottom-width: 1px;
	border-right-width: 1px;
}
.framesimple{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	padding: 3px 3px 3px 3px;
	border-width: 1px 2px 2px 1px;
	border-color: #ddd;
	border-style: solid;
}
.framesimple > img{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}